pipeline/pipeline2_Product.json
{
	"name": "pipeline2_Product",
	"properties": {
		"activities": [
			{
				"name": "Copy Products",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate Products RawDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb_adventureLT_view_vAllProducts_dev",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sqldb_rawdb_table_Product_dev",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate Products RawDB",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sqldb_dbraw_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "truncate table [dbo].[Product]"
						}
					]
				}
			},
			{
				"name": "LogError",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Products",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.sp_LogMessage",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Message": {
							"value": {
								"value": "@{activity('Copy Products').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Type": {
							"value": {
								"value": "@concat('failureType:',activity('Copy Products').error.failureType)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_dbraw_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Products",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdatePipelineLogSuccess]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_queuingDuration_in_secs": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0]. detailedDurations.queuingDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"copyDuration_in_secs": {
							"value": {
								"value": "@{activity('Copy Products').output.copyDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataRead": {
							"value": {
								"value": "@{activity('Copy Products').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Destination": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0].sink.name}",
								"type": "Expression"
							},
							"type": "String"
						},
						"effectiveIntegrationRuntime": {
							"value": {
								"value": "@{activity('Copy Products').output.effectiveIntegrationRuntime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@{activity('Copy Products').output.usedParallelCopies}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": {
								"value": "@{activity('Copy Products').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0].source.name}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Copy Products').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_dbraw_dev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Orchestration"
		},
		"annotations": []
	}
}