pipeline/pipeline_GroupName_Orchestrator.json
{
	"name": "pipeline_GroupName_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "pipeline_GroupName_Base",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_GroupName_Base",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"paramFromParentPipe": {
							"value": "@variables('MainVariable')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pipeline_GroupName_Client",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pipeline_GroupName_Base",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_GroupName_Client",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MainVariable",
					"value": "OK"
				}
			}
		],
		"parameters": {
			"Orchestrator": {
				"type": "string"
			}
		},
		"variables": {
			"MainVariable": {
				"type": "String"
			},
			"prova": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test vari/Gio/GroupName Orchestrator/Main Pipeline"
		},
		"annotations": []
	}
}