pipeline/pipeline_GroupName_Base.json
{
	"name": "pipeline_GroupName_Base",
	"properties": {
		"activities": [
			{
				"name": "GeStatusTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT *  FROM [dbo].[Orchestrator] where GroupName=','''',pipeline().parameters.pipeName,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GeStatusTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('GeStatusTable').output.firstRow.Status)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FAILED",
							"description": "FALSE",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						}
					],
					"ifTrueActivities": [
						{
							"name": "OK_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "OK",
								"value": "TRUE"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pipeName": {
				"type": "string",
				"defaultValue": "pipeline_GroupName_Base"
			}
		},
		"variables": {
			"OK": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Gio/GroupName Base/Main Pipeline"
		},
		"annotations": []
	}
}