pipeline/pl_B_Dynamic.json
{
	"name": "pl_B_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "Get pipeline to be executed",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetPipeLineNameExecutionOrder]",
						"storedProcedureParameters": {
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_dbraw",
						"type": "DatasetReference",
						"parameters": {
							"tableNameAZureDataSet": "Customer"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute each pipeline per group",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get pipeline to be executed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get pipeline to be executed').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WaitB",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Esempio02_dynamic"
		},
		"annotations": []
	}
}