pipeline/pl_GroupCandidate.json
{
	"name": "pl_GroupCandidate",
	"properties": {
		"activities": [
			{
				"name": "sp_UpdateLogEvents",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdatePipelineLogEvents]",
					"storedProcedureParameters": {
						"DropName": {
							"value": {
								"value": "@pipeline().parameters.parDropName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionNumber": {
							"value": {
								"value": "@pipeline().parameters.parExecutionNumber",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"InError": {
							"value": "No",
							"type": "String"
						},
						"PipelineGroupNameId": {
							"value": "1",
							"type": "Int32"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineOrchestratorId": {
							"value": {
								"value": "@pipeline().parameters.parOrchestratorId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StartExecutionDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"StopExecutionDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_migration",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "sql-server-manpower-dev.database.windows.net",
						"DatabaseName": "sqldb-migration"
					}
				}
			},
			{
				"name": "GetPipelineToBeExecuted",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetPipeLineNameExecutionOrder]",
						"storedProcedureParameters": {
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute each pipeline per group",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetPipelineToBeExecuted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetPipelineToBeExecuted').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"parOrchestratorId": {
				"type": "int"
			},
			"parDropId": {
				"type": "int"
			},
			"parDropName": {
				"type": "string"
			},
			"parExecutionNumber": {
				"type": "int"
			},
			"parNewExecution": {
				"type": "bool"
			}
		},
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}