pipeline/pl_GroupCandidate.json
{
	"name": "pl_GroupCandidate",
	"properties": {
		"activities": [
			{
				"name": "GetPipelineOrchestrator",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetPipelineOrchestrator]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set OrchestratorId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetPipelineOrchestrator",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "OrchestratorId",
					"value": {
						"value": "@string(activity('GetPipelineOrchestrator').output.value[0].Id)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"OrchestratorId": {
				"type": "String"
			},
			"OrchestratorDropId": {
				"type": "String"
			},
			"OrchestratorDropName": {
				"type": "String"
			},
			"OrchestratorExecutionNumber": {
				"type": "String"
			},
			"OrchestratorNewExecution": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}