pipeline/pl_Main_DynamicPipeLine.json
{
	"name": "pl_Main_DynamicPipeLine",
	"properties": {
		"activities": [
			{
				"name": "Get Group Name execution order",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  select * from [dbo].[PipelineGroupNameExecutionOrder]\n  where TobeExecute = 'YES'\n  order by ExecutionOrder asc",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_dbraw",
						"type": "DatasetReference",
						"parameters": {
							"tableNameAZureDataSet": "Customer"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Group Name execution order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Group Name execution order').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@{item().PipelineGroupName}",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "pl_A"
									},
									{
										"value": "pl_B",
										"activities": [
											{
												"name": "pl_B",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_B",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "pl_C",
										"activities": [
											{
												"name": "pl_C",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_C",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Esempio"
		},
		"annotations": []
	}
}