pipeline/pl_Matrix.json
{
	"name": "pl_Matrix",
	"properties": {
		"activities": [
			{
				"name": "lookup_GetMatrixPlan",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetMatrixPlan]",
						"storedProcedureParameters": {
							"MatrixPlanId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.parMatrixPlanId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_Matrix",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_GetMatrixPlan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_GetMatrixPlan').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_Matrix",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "if_first_execution",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "IWId",
											"value": ""
										},
										{
											"name": "DropName",
											"value": {
												"value": "@pipeline().parameters.parDropName",
												"type": "Expression"
											}
										},
										{
											"name": "ExecutionConfigurationId",
											"value": {
												"value": "@string(pipeline().parameters.parExecutionConfigurationId)",
												"type": "Expression"
											}
										}
									],
									"sqlReaderStoredProcedureName": {
										"value": "@{item().Procedure}",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"ExecutionConfigurationId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.parExecutionConfigurationId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqldb_raw",
									"type": "DatasetReference",
									"parameters": {
										"DestinationTableName": "Destination"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqldb_raw",
									"type": "DatasetReference",
									"parameters": {
										"DestinationTableName": "@item().Destination"
									}
								}
							]
						},
						{
							"name": "sp_UpdateLogEvents_OnSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_Matrix",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_UpdateLogEvents]",
								"storedProcedureParameters": {
									"DropName": {
										"value": {
											"value": "@pipeline().parameters.parDropName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionConfigurationId": {
										"value": {
											"value": "@pipeline().parameters.parExecutionConfigurationId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionNumber": {
										"value": {
											"value": "@pipeline().parameters.parExecutionNumber",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"GroupPlanId": {
										"value": {
											"value": "@pipeline().parameters.parGroupPlanId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"InError": {
										"value": "No",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartExecutionDate": {
										"value": {
											"value": "@variables('varStartPipelineExecutionDate')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"StopExecutionDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PlanId": {
										"value": {
											"value": "@pipeline().parameters.parPlanId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartGroupFromExecutionOrder": {
										"value": {
											"value": "@pipeline().parameters.parStartGroupFromExecutionOrder",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartPipelineFromExecutionOrder": {
										"value": {
											"value": "@pipeline().parameters.parStartPipelineFromExecutionOrder",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "sp_UpdateLogEvents_OnFailed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "sp_SetExecutionFailedStatus_Failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_UpdateLogEvents]",
								"storedProcedureParameters": {
									"DropName": {
										"value": {
											"value": "@pipeline().parameters.parDropName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionConfigurationId": {
										"value": {
											"value": "@pipeline().parameters.parExecutionConfigurationId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionNumber": {
										"value": {
											"value": "@pipeline().parameters.parExecutionNumber",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"GroupPlanId": {
										"value": {
											"value": "@pipeline().parameters.parGroupPlanId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"InError": {
										"value": "Yes",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartExecutionDate": {
										"value": {
											"value": "@formatDateTime(variables('varStartPipelineExecutionDate'))",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"StopExecutionDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PlanId": {
										"value": {
											"value": "@pipeline().parameters.parPlanId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartGroupFromExecutionOrder": {
										"value": {
											"value": "@pipeline().parameters.parStartGroupFromExecutionOrder",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartPipelineFromExecutionOrder": {
										"value": {
											"value": "@pipeline().parameters.parStartPipelineFromExecutionOrder",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "sp_SetExecutionFailedStatus_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_Matrix",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_SetExecutionFailedStatus]",
								"storedProcedureParameters": {
									"parFailed": {
										"value": "true",
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "setvar_StartPipelineExecutionDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varStartPipelineExecutionDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "if_first_execution",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "setvar_StartPipelineExecutionDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "sp_DeleteMatrixTable",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_DeleteMatrixTableName]",
											"storedProcedureParameters": {
												"DropName": {
													"value": {
														"value": "@pipeline().parameters.parDropName",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@item().Destination",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_raw",
											"type": "LinkedServiceReference",
											"parameters": {
												"ServerName": "sql-server-manpower-dev.database.windows.net",
												"DatabaseName": "sqldb-raw"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"parMatrixPlanId": {
				"type": "int"
			},
			"parDropName": {
				"type": "string"
			},
			"parExecutionConfigurationId": {
				"type": "int"
			},
			"parExecutionNumber": {
				"type": "int"
			},
			"parGroupPlanId": {
				"type": "int"
			},
			"parPlanId": {
				"type": "int"
			},
			"parStartGroupFromExecutionOrder": {
				"type": "int"
			},
			"parStartPipelineFromExecutionOrder": {
				"type": "int"
			}
		},
		"variables": {
			"varStartPipelineExecutionDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}