pipeline/pl_Matrix.json
{
	"name": "pl_Matrix",
	"properties": {
		"activities": [
			{
				"name": "lookup_GetMatrixPlan",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetMatrixPlan]",
						"storedProcedureParameters": {
							"MatrixPlanId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.parMatrixPlanId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "foreach_Matrix",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_GetMatrixPlan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_GetMatrixPlan').output.firstRow",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_MatrixA",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "setvar_StartPipelineExecutionDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().Procedure}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqldb_raw",
									"type": "DatasetReference",
									"parameters": {
										"DestinationTableName": "Destination"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqldb_raw",
									"type": "DatasetReference",
									"parameters": {
										"DestinationTableName": "@item().Destination"
									}
								}
							]
						},
						{
							"name": "sp_UpdateLogEvents_OnSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_MatrixA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_UpdateLogEvents]",
								"storedProcedureParameters": {
									"DropName": {
										"value": {
											"value": "@pipeline().parameters.parDropName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionConfigurationId": {
										"value": {
											"value": "@pipeline().parameters.parExecutionConfigurationId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionNumber": {
										"value": "99",
										"type": "Int32"
									},
									"GroupPlanId": {
										"value": "99",
										"type": "Int32"
									},
									"InError": {
										"value": "No",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@item().PipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartExecutionDate": {
										"value": {
											"value": "@variables('varStartPipelineExecutionDate')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"StopExecutionDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PlanId": {
										"value": "1",
										"type": "Int32"
									},
									"StartGroupFromExecutionOrder": {
										"value": "0",
										"type": "Int32"
									},
									"StartPipelineFromExecutionOrder": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "sp_UpdateLogEvents_OnFailed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "sp_SetExecutionFailedStatus_Failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_UpdateLogEvents]",
								"storedProcedureParameters": {
									"DropName": {
										"value": {
											"value": "@pipeline().parameters.parDropName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionConfigurationId": {
										"value": {
											"value": "@pipeline().parameters.parExecutionConfigurationId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionNumber": {
										"value": "99",
										"type": "Int32"
									},
									"GroupPlanId": {
										"value": {
											"value": "@item().GroupPlanId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"InError": {
										"value": "Yes",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@item().PipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartExecutionDate": {
										"value": {
											"value": "@formatDateTime(variables('varStartPipelineExecutionDate'))",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"StopExecutionDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PlanId": {
										"value": "1",
										"type": "Int32"
									},
									"StartGroupFromExecutionOrder": {
										"value": "0",
										"type": "Int32"
									},
									"StartPipelineFromExecutionOrder": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "sp_SetExecutionFailedStatus_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_MatrixA",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_SetExecutionFailedStatus]",
								"storedProcedureParameters": {
									"parFailed": {
										"value": "true",
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "setvar_StartPipelineExecutionDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varStartPipelineExecutionDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"parMatrixPlanId": {
				"type": "int"
			},
			"parDropName": {
				"type": "string"
			},
			"parExecutionConfigurationId": {
				"type": "int"
			}
		},
		"variables": {
			"varStartPipelineExecutionDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}