pipeline/pl_Start.json
{
	"name": "pl_Start",
	"properties": {
		"activities": [
			{
				"name": "if_wrong_execution",
				"description": "This condition prevents incorrect starts of previous completed executions.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "sp_GetTripletExecution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('sp_GetTripletExecution').output.firstRow.Triplet,'1-0-0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "execute_pl_Start",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "sp_UpdateStartDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_PipelinesExecution",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "sp_UpdateStartDate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_StartDate]"
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "sp_UpdateEndDate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "sp_UpdateExecutionPlanHistory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_EndDate]"
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						},
						{
							"name": "sp_UpdateExecutionPlanHistory",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "execute_pl_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_InsertPlanExecutionToHistory]"
							},
							"linkedServiceName": {
								"referenceName": "ls_migration",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-migration"
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_GetTripletExecution",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetTripletExecution]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Prototype"
		},
		"annotations": []
	}
}