pipeline/pl_SequentialMain.json
{
	"name": "pl_SequentialMain",
	"properties": {
		"activities": [
			{
				"name": "lookup_GetExecutionConfiguration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetExecutionConfiguration]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "setvar_StartGroupFromExecutionOrder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setvar_RetryNumberFromExecutionHistory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varStartGroupFromExecutionOrder",
					"value": {
						"value": "@string(activity('lookup_GetExecutionConfiguration').output.value[0].StartGroupFromExecutionOrder)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setvar_StartPipelineFromExecutionOrder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setvar_StartGroupFromExecutionOrder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varStartPipelineFromExecutionOrder",
					"value": {
						"value": "@string(activity('lookup_GetExecutionConfiguration').output.value[0].StartPipelineFromExecutionOrder)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setvar_RetryNumberFromExecutionHistory",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lookup_GetExecutionConfiguration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRetryNumber",
					"value": {
						"value": "@string(activity('lookup_GetExecutionConfiguration').output.value[0].RetryNumber)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineA1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineA1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PipelineA2_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PipelineA1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineA2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}