pipeline/pl_Sequential_Main.json
{
	"name": "pl_Sequential_Main",
	"properties": {
		"activities": [
			{
				"name": "LookupGetGroupPlan",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetExecutionConfigurationNewExecution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetGroupPlan]",
						"storedProcedureParameters": {
							"isSequential": {
								"type": "Boolean",
								"value": "TRUE"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachGroup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupGetGroupPlan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupGetGroupPlan').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupGroup ReadExecutionFailed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('LookupGroup ReadExecutionFailed').output.firstRow.Failed",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Switch_ForEachGroup",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().PipelineGroupName",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "pl_GroupA",
													"activities": [
														{
															"name": "Execute pl_GroupA",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "pl_GroupA",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true
															}
														}
													]
												},
												{
													"value": "pl_GroupB",
													"activities": [
														{
															"name": "pl_GroupB",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "pl_GroupB",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true
															}
														}
													]
												},
												{
													"value": "pl_GroupC",
													"activities": [
														{
															"name": "pl_GroupC",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "pl_GroupC",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true
															}
														}
													]
												},
												{
													"value": "pl_GroupCandidate",
													"activities": [
														{
															"name": "Execute pl_GroupCandidate",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "pl_GroupCandidate",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": false,
																"parameters": {
																	"parOrchestratorId": {
																		"value": "@variables('varOrchestratorId')",
																		"type": "Expression"
																	},
																	"parDropId": {
																		"value": "@variables('varDropId')",
																		"type": "Expression"
																	},
																	"parDropName": {
																		"value": "@variables('varDropName')",
																		"type": "Expression"
																	},
																	"parExecutionNumber": {
																		"value": "@variables('varExecutionNumber')",
																		"type": "Expression"
																	},
																	"parNewExecution": {
																		"value": "@variables('varNewExecution')",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											]
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set varGlobalError",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "varGlobalError",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "LookupGroup ReadExecutionFailed",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_GetExecutionFailedStatus]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqldb_migration",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "GetExecutionConfiguration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetExecutionConfiguration]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetExecutionConfigurationDropName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetExecutionConfigurationDropId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varDropName",
					"value": {
						"value": "@activity('GetExecutionConfiguration').output.value[0].DropName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetExecutionConfigurationId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetExecutionConfiguration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varExecutionConfigurationId",
					"value": {
						"value": "@string(activity('GetExecutionConfiguration').output.value[0].Id)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetExecutionConfigurationDropId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetExecutionConfigurationId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varDropId",
					"value": {
						"value": "@string(activity('GetExecutionConfiguration').output.value[0].DropId)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetExecutionConfigurationExecutionNumber",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetExecutionConfigurationDropName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varExecutionNumber",
					"value": {
						"value": "@string(activity('GetExecutionConfiguration').output.value[0].ExecutionNumber)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetExecutionConfigurationNewExecution",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetExecutionConfigurationExecutionNumber",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varNewExecution",
					"value": {
						"value": "@activity('GetExecutionConfiguration').output.value[0].NewExecution",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varExecutionConfigurationId": {
				"type": "String"
			},
			"varDropId": {
				"type": "String"
			},
			"varDropName": {
				"type": "String"
			},
			"varExecutionNumber": {
				"type": "String"
			},
			"varNewExecution": {
				"type": "Boolean"
			},
			"varGlobalError": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}