pipeline/pl_Start.json
{
	"name": "pl_Start",
	"properties": {
		"activities": [
			{
				"name": "Execute pl_Parallel_Main",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_Parallel_Main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "Execute pl_Sequential_Main",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_Sequential_Main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			},
			{
				"name": "sp_UpdateLogEvents_copy1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute pl_Sequential_Main",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdatePipelineLogEvents]",
					"storedProcedureParameters": {
						"DropName": {
							"value": {
								"value": "@pipeline().parameters.parDropName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionNumber": {
							"value": {
								"value": "@pipeline().parameters.parExecutionNumber",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"InError": {
							"value": "Yes",
							"type": "String"
						},
						"PipelineGroupNameId": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineOrchestratorId": {
							"value": {
								"value": "@pipeline().parameters.parOrchestratorId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StartExecutionDate": {
							"value": {
								"value": "@formatDateTime(variables('varStartPipelineExecutionDate'))",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"StopExecutionDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_migration",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "sql-server-manpower-dev.database.windows.net",
						"DatabaseName": "sqldb-migration"
					}
				}
			}
		],
		"folder": {
			"name": "Prototype"
		},
		"annotations": []
	}
}