pipeline/testforeachnull.json
{
	"name": "testforeachnull",
	"properties": {
		"activities": [
			{
				"name": "foreach_DeleteMatrix",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_DeleteMatrixForRetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@coalesce(activity('lookup_DeleteMatrixForRetry').output.value,0)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sp_DeleteMatrixTable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_DeleteMatrixTableName]",
								"storedProcedureParameters": {
									"DropName": {
										"value": {
											"value": "DROP1",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().MatrixTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_raw",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "sql-server-manpower-dev.database.windows.net",
									"DatabaseName": "sqldb-raw"
								}
							}
						}
					]
				}
			},
			{
				"name": "lookup_DeleteMatrixForRetry",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetMatrixForDeleteOnRetry]",
						"storedProcedureParameters": {
							"planId": {
								"type": "Int32",
								"value": {
									"value": "1",
									"type": "Expression"
								}
							},
							"startGroupFromExecutionOrder": {
								"type": "Int32",
								"value": {
									"value": "2",
									"type": "Expression"
								}
							},
							"startPipelineFromExecutionOrder": {
								"type": "Int32",
								"value": {
									"value": "3",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_migration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Prototype/Sequential Groups"
		},
		"annotations": []
	}
}