pipeline/webhooktest.json
{
	"name": "webhooktest",
	"properties": {
		"activities": [
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "myid2",
					"value": "20"
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://fnmigrationesecution.azurewebsites.net/api/HttpTrigger01?name=",
					"method": "POST",
					"body": "@json(variables('myid'))"
				}
			}
		],
		"variables": {
			"myid2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Prototype"
		},
		"annotations": []
	}
}