pipeline/webhooktest.json
{
	"name": "webhooktest",
	"properties": {
		"activities": [
			{
				"name": "WebHook1",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"url": "https://eventcompleted.westeurope-1.eventgrid.azure.net/api/events",
					"method": "POST",
					"body": {
						"value": "@json(variables('myid2'))",
						"type": "Expression"
					},
					"timeout": "00:00:30"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "myid2",
					"value": "20"
				}
			}
		],
		"variables": {
			"myid": {
				"type": "String"
			},
			"myid2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Prototype"
		},
		"annotations": []
	}
}