templates/template_Group/template_Group.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"ls_migration": {
			"type": "string"
		},
		"ls_my_italy_new": {
			"type": "string"
		},
		"ls_raw": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_GroupA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup_GetPipelineToBeExecuted",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[sp_GetPipelinePlan]",
								"storedProcedureParameters": {
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PlanId": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.parPlanId",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqldb_migration",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute each pipeline per group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup_GetPipelineToBeExecuted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup_GetPipelineToBeExecuted').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copy_GroupA",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "setvar_StartPipelineExecutionDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "ExecutionConfigurationId",
													"value": {
														"value": "@string(pipeline().parameters.parExecutionConfigurationId)",
														"type": "Expression"
													}
												},
												{
													"name": "TimeStamp",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												},
												{
													"name": "DropName",
													"value": {
														"value": "@pipeline().parameters.parDropName",
														"type": "Expression"
													}
												},
												{
													"name": "ExecutionNumber",
													"value": {
														"value": "@string(pipeline().parameters.parExecutionNumber)",
														"type": "Expression"
													}
												},
												{
													"name": "PlanId",
													"value": {
														"value": "@string(pipeline().parameters.parPlanId)",
														"type": "Expression"
													}
												},
												{
													"name": "StartGroupFromExecutionOrder",
													"value": {
														"value": "@string(pipeline().parameters.parStartGroupFromExecutionOrder)",
														"type": "Expression"
													}
												},
												{
													"name": "StartPipelineFromExecutionOrder",
													"value": {
														"value": "@string(pipeline().parameters.parStartPipelineFromExecutionOrder)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "select * from @{item().Procedure}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sqldb_my_italy_new",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sqldb_raw",
											"type": "DatasetReference",
											"parameters": {
												"DestinationTableName": {
													"value": "@item().Destination",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "setvar_StartPipelineExecutionDate",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "varStartPipelineExecutionDate",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sp_UpdateLogEvents_OnSuccess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "copy_GroupA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_UpdateLogEvents]",
										"storedProcedureParameters": {
											"DropName": {
												"value": {
													"value": "@pipeline().parameters.parDropName",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionConfigurationId": {
												"value": {
													"value": "@pipeline().parameters.parExecutionConfigurationId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"ExecutionNumber": {
												"value": {
													"value": "@pipeline().parameters.parExecutionNumber",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"GroupPlanId": {
												"value": {
													"value": "@item().GroupPlanId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"InError": {
												"value": "No",
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@item().PipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"StartExecutionDate": {
												"value": {
													"value": "@formatDateTime(variables('varStartPipelineExecutionDate'))",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"StopExecutionDate": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"PlanId": {
												"value": {
													"value": "@pipeline().parameters.parPlanId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartGroupFromExecutionOrder": {
												"value": {
													"value": "@pipeline().parameters.parStartGroupFromExecutionOrder",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartPipelineFromExecutionOrder": {
												"value": {
													"value": "@pipeline().parameters.parStartPipelineFromExecutionOrder",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('ls_migration')]",
										"type": "LinkedServiceReference",
										"parameters": {
											"ServerName": "sql-server-manpower-dev.database.windows.net",
											"DatabaseName": "sqldb-migration"
										}
									}
								},
								{
									"name": "sp_UpdateLogEvents_OnFailed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "sp_SetExecutionFailedStatus_Failed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_UpdateLogEvents]",
										"storedProcedureParameters": {
											"DropName": {
												"value": {
													"value": "@pipeline().parameters.parDropName",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionConfigurationId": {
												"value": {
													"value": "@pipeline().parameters.parExecutionConfigurationId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"ExecutionNumber": {
												"value": {
													"value": "@pipeline().parameters.parExecutionNumber",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"GroupPlanId": {
												"value": {
													"value": "@item().GroupPlanId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"InError": {
												"value": "Yes",
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@item().PipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"StartExecutionDate": {
												"value": {
													"value": "@formatDateTime(variables('varStartPipelineExecutionDate'))",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"StopExecutionDate": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"PlanId": {
												"value": {
													"value": "@pipeline().parameters.parPlanId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartGroupFromExecutionOrder": {
												"value": {
													"value": "@pipeline().parameters.parStartGroupFromExecutionOrder",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartPipelineFromExecutionOrder": {
												"value": {
													"value": "@pipeline().parameters.parStartPipelineFromExecutionOrder",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('ls_migration')]",
										"type": "LinkedServiceReference",
										"parameters": {
											"ServerName": "sql-server-manpower-dev.database.windows.net",
											"DatabaseName": "sqldb-migration"
										}
									}
								},
								{
									"name": "sp_SetExecutionFailedStatus_Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "copy_GroupA",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_SetExecutionFailedStatus]",
										"storedProcedureParameters": {
											"parFailed": {
												"value": "true",
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('ls_migration')]",
										"type": "LinkedServiceReference",
										"parameters": {
											"ServerName": "sql-server-manpower-dev.database.windows.net",
											"DatabaseName": "sqldb-migration"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"parExecutionConfigurationId": {
						"type": "int"
					},
					"parDropId": {
						"type": "int"
					},
					"parDropName": {
						"type": "string"
					},
					"parExecutionNumber": {
						"type": "int"
					},
					"parNewExecution": {
						"type": "bool"
					},
					"parPlanId": {
						"type": "int"
					},
					"parStartGroupFromExecutionOrder": {
						"type": "int"
					},
					"parStartPipelineFromExecutionOrder": {
						"type": "int"
					}
				},
				"variables": {
					"varStartPipelineExecutionDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Prototype/Sequential Groups"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_migration')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_my_italy_new')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_migration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_migration')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "sql-server-manpower-dev.database.windows.net",
						"DatabaseName": "sqldb-migration"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_my_italy_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_my_italy_new')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "sql-server-manpower-dev.database.windows.net",
						"DatabaseName": "sqldb-my_italy_new"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_raw')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "sql-server-manpower-dev.database.windows.net",
						"DatabaseName": "sqldb-raw"
					}
				},
				"parameters": {
					"DestinationTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().DestinationTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}